/*自定义字体引入*/
@font-face {
    font-family: Jengotan_PERSONAL_USE_ONLY;
    src: url(./fonts/Jengotan_PERSONAL_USE_ONLY) format("truetype");
}
@font-face {
    font-family: SCRIPTBL;
    src: url(./fonts/SCRIPTBL.TTF) format("truetype");
}
